/.idea
/.vscode
/.vsconfig
/.vs
/Bin
/Build
/Library
/Logs
/Debug
/obj
/Temp
/UserSettings

.~lock*
~$*

*.sln
*.sln.DotSettings.user
*.csproj
*.DS_Store
*.blob
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
